<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <title><%= app.name %></title>
    <link rel="stylesheet" href="stylesheets/screen.css" media="Screen" type="text/css" />
    <link rel="stylesheet" href="stylesheets/mobile.css" media="handheld, only screen and (max-width: 480px), only screen and (max-device-width: 480px)" type="text/css" />

    <!--[if IEMobile]>
    <link rel="stylesheet" href="mobile.css" media="screen" type="text/css"  />
    <![endif]-->

    <!-- These are Open Graph tags.  They add meta data to your  -->
    <!-- site that facebook uses when your content is shared     -->
    <!-- over facebook.  You should fill these tags in with      -->
    <!-- your data.  To learn more about Open Graph, visit       -->
    <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="<%= app.name %>" />
    <meta property="og:description" content="My first app" />
    <meta property="fb:app_id" content="<%= app.id %>" />

    <script type="text/javascript" src="/scripts/jquery.min.js"></script>

    <script type="text/javascript">

	function makeReadableDate(oldDate) {
	    var oldDateVal = new Date(oldDate);
	     var nowDate = new Date();
	     var diff = nowDate.getTime()-oldDateVal.getTime();
	     var diffdate = diff / (1000*60*60*24)
	     if(diffdate > 1){
	          return parseInt(diffdate)+" days ago";
	     }else{
	          var diffHour = diff / (1000*60*60)
	          if(diffHour > 1){
	               return parseInt(diffHour)+" hours ago";
	          }

	          var diffMin = diff / (1000*60);
	          if(diffMin > 1){
	               return parseInt(diffMin)+" min ago";
	          }

	          return "few moments ago";
	     }
	}

      function logResponse(response) {
        if (console && console.log) {
          console.log('Logging...', response);
        }
      }
$(document).ready(function() {
	$('.maybespam').click(function(e){
				e.preventDefault();
			//console.log("maybespam is CLICKD", $(e.target).parent().parent().parent().find('.notaspam').html())
			$(e.target).parent().parent().siblings('.mainContnents').show('fast');
			$(e.target).parent().remove();
			$(e.target).parent().parent().parent().find('.notaspam').html('<a>Not a spam? then like this to U-Dislike </a>')
		})

      $(function(){
        $('.like').click(function() {
			console.log("like user-id -- ", $(this).closest('.notaspam'))
	         var object_id = $(this).parent().attr('user-id');
	         var text = $(this).parent().attr('text');
	        var user_id = $(this).parent().attr('user-id');
			$(this).closest('.notaspam').html('You liked this message.')

            $.post("classify", { "clazz": "like", "text": text, "uid": user_id }, function (data) {
                logResponse('cb for post:' + data);
            }, 'json');
	    });

		$('.dislike').click(function() {
		console.log("dislike -- ", $(this).closest('.mainContnents')[0], $(this).closest('.mainContnents').closest('.maybespamHolder')[0])
	         var object_id = $(this).parent().attr('user-id');
	         var text = $(this).parent().attr('text');
	        var user_id = $(this).parent().attr('user-id');
			$(this).closest('.mainContnents').hide();//addClass('hide')
			$(this).parent().parent().closest('.maybespamHolder').show();//removeClass('hide')

	        //        logResponse(object_id);
            $.post("classify", { "clazz": "dislike", "text": text, "uid": user_id }, function (data) {
                logResponse('cb for post:' + data);
            }, 'json');
	    });
        // Set up so we handle click on the buttons
        $('#postToWall').click(function() {
          FB.ui(
            {
              method : 'feed',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendToFriends').click(function() {
          FB.ui(
            {
              method : 'send',
              link   : $(this).attr('data-url')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });

        $('#sendRequest').click(function() {
          FB.ui(
            {
              method  : 'apprequests',
              message : $(this).attr('data-message')
            },
            function (response) {
              // If response is null the user canceled the dialog
              if (response != null) {
                logResponse(response);
              }
            }
          );
        });
      });

})
    </script>

    <!--[if IE]>
      <script type="text/javascript">
        var tags = ['header', 'section'];
        while(tags.length)
          document.createElement(tags.pop());
      </script>
    <![endif]-->
  </head>
  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <header class="clearfix">
      <% if (user) { %>
      <p id="picture" style="background-image: url(https://graph.facebook.com/<%= user.id %>/picture?type=normal)"></p>

      <div>
        <h1>Welcome, <strong><%= user.name %></strong></h1>
        <p class="tagline">
          This is your app
          <a href="<%= app.link %>" target="_top"><%= app.name %></a>
        </p>

        <div id="share-app">
          <p>Share your app:</p>
          <ul>
            <li>
              <a href="#" class="facebook-button apprequests" id="sendRequest" data-message="Test this awesome app">
                <span class="apprequests">Send Requests</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <% } else { %>
      <div>
        <h1>Welcome</h1>
        <div class="fb-login-button" data-scope="user_likes,user_photos,read_stream"></div>
      </div>
      <% } %>
    </header>


    <!-- <section id="get-started">
      <p>Welcome to your Facebook app, running on <span>heroku</span>!</p>
      <a href="https://devcenter.heroku.com/articles/facebook" target="_top" class="button">Learn How to Edit This App</a>
    </section> -->

    <% if (user) { %>

   <section id="bg" class="clearfix newsFeedBg">
	   <br>
	    Please feel free to 'like' or 'dislike' the posts shown here. Your facebook newsfeed will not be affected.
			<ul class='uiList uiStream'>
		 <% req.newsFeed.forEach(function(news) { %>

				<li class = 'uiStreamStory selectedStorySimple'>
					<div class="clearfix storyContent fbgreybox" >


						<div class="maybespamHolder  <% if (news.clazz == 'like') { %> hide <% } %>">
							<span class="maybespam "><a class="maybespamlink">You may not be interested in this post from <%= news.from.name%>. click to open.</a></span>
						</div>

						<div class="mainContnents <% if (news.clazz == 'dislike') { %> hide <% } %>">

							<% if (news.picture) { %><img class="actorPhoto lfloat" src=<%= news.picture %> alt="" width='40px' height='40px'> <% } else { %>   <% } %>


						<div class = 'storyInnerContent'>

							<div class="likedislike">
								<span class="notaspam"> You may <%= news.clazz %> this message.</span>
								<span>

									<a href="#" class="facebook-button" id="<%= news.id%>" data-url="" object-id="<%= news.id%>" user-id="<%= user.id%>" text='<%= JSON.stringify(news)%>'>
					                	<span class="like">Like</span>
					              	</a>

									<a href="#" class="facebook-button" id="<%= news.id%>" data-url="" object-id="<%= news.id%>" user-id="<%= user.id%>" text='<%= JSON.stringify(news)%>'>
						                <span class="dislike">Disike & hide</span>
						              </a>
								</span>
							</div>

								<dl style="" class="dropdown">
							       <dt><a id="linkglobal" style="cursor:pointer;"></a></dt>

							    </dl>
								<div class='mainWrapper'>
									<div class="username">
										<%= news.from.name %>
									</div>
									<div class="messageBody">
										<%= news.created_time %>
									<br/>
									 <% if (news.message) { %> <%= news.message %>  <% } %>
									<% if (news.story) { %> <%= news.story %>  <% } %>
									<div><% if (news.picture) { %><img src= <%= news.picture %> /> <% } %> </div>

									</div>
								</div>

							</div>
						</div>
					</div>
				</li>

				 <% }); %>
			</ul>

    </section>

    <% } %>


  </body>
</html>

